/* This file is for your main application css. */

.help-block {
    color: #d50000;
    text-transform: capitalize;
    position: absolute;
    top: 42px;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}

.material-icons.danger {
	color: #CC0000; 
}

.material-icons.edit {
	color: #0099CC; 
}